.tasks-table {
    width: 100%;
}

.mat-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.no-tasks-message {
    text-align: center;
    padding: 24px 16px;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
}
